@{
    ViewData["Title"] = "Home Page";
}

@section scripts
{
    <script type="module" src="~/pages/home-page.js" asp-append-version="true"></script>
}

<div class="container w-75 text-center my-lg-2">
    <header>
        <h3 class="fw-bold text-start">List of people</h3>
    </header>

    <div>
        <home-page />
    </div>
</div>
